<head>
  <meta charset="UTF-8" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <title>Criar agendamento</title>
</head>

<body>
  <form (ngSubmit)="removeMaskAndSubmit()" [formGroup]="scheduleForm" #formDir="ngForm">
    <div class="container p-5">
      <div class="d-flex justify-content-between">
        <h4 class="display-6">Agendar uma nova transferência</h4>
        <button
          type="button"
          class="btn btn-primary"
          (click)="navigateToTableComponent()"
        >
          Visualizar agendamentos cadastrados
        </button>
      </div>
      <hr />

      <div class="row mb-3 g-4">
        <div class="col-6">
          <label class="form-label">Conta de origem</label>
          <input
            type="number"
            class="form-control"
            formControlName="originAccount"
            [ngClass]="{
              'is-invalid':
                submitted && scheduleForm.controls.originAccount.errors
            }"
            placeholder="Ex: 123456"
          />
          <div
            *ngIf="submitted && scheduleForm.controls.originAccount.errors"
            class="text-danger"
          >
            <div
              *ngIf="
                submitted && scheduleForm.controls.originAccount.errors.required
              "
            >
              A conta de origem é obrigatória
            </div>
            <div
              *ngIf="
                submitted &&
                scheduleForm.controls.originAccount.errors.invalidAccount
              "
            >
              Insira exatamente 6 caracteres de 1 a 9 ( Zeros à esquerda serão
              ignorados )
            </div>
            <div
              *ngIf="
                submitted && scheduleForm.controls.originAccount.errors.pattern
              "
            >
              Deve conter apenas números.
            </div>
            <div
            *ngIf="
              submitted && scheduleForm.controls.originAccount.errors.notEqual
            "
          >
            As contas origem e destino não podem ser iguais.
          </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label">Conta de destino</label>
          <input
            type="number"
            class="form-control"
            formControlName="destinationAccount"
            [ngClass]="{
              'is-invalid':
                submitted && scheduleForm.controls.destinationAccount.errors
            }"
            placeholder="Ex: 654321"
          />
          <div
            *ngIf="submitted && scheduleForm.controls.destinationAccount.errors"
            class="text-danger"
          >
            <div
              *ngIf="
                submitted &&
                scheduleForm.controls.destinationAccount.errors.required
              "
            >
              A conta de destino é obrigatória
            </div>
            <div
              *ngIf="
                submitted &&
                scheduleForm.controls.destinationAccount.errors.invalidAccount
              "
            >
              Insira exatamente 6 caracteres de 1 a 9 ( Zeros à esquerda serão
              ignorados )
            </div>
            <div
              *ngIf="
                submitted &&
                scheduleForm.controls.destinationAccount.errors.pattern
              "
            >
              Deve conter apenas números.
            </div>
            <div
            *ngIf="
              submitted && scheduleForm.controls.destinationAccount.errors.notEqual
            "
          >
            As contas origem e destino não podem ser iguais.
          </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label">Valor da transferência</label>
          <input
            type="text"
            class="form-control"
            formControlName="transferAmount"
            (input)="formatCurrency($event)"
            [ngClass]="{
              'is-invalid':
                submitted && scheduleForm.controls.transferAmount.errors
            }"
            placeholder="$0.00"
          />
          <div
            *ngIf="submitted && scheduleForm.controls.transferAmount.errors"
            class="text-danger"
          >
            <div
              *ngIf="
                submitted &&
                scheduleForm.controls.transferAmount.errors.required
              "
            >
              O valor da transferência é obrigatório
            </div>
            <div
            *ngIf="
              submitted &&
              scheduleForm.controls.transferAmount.errors.min
            "
          >
            O valor de transferência mínimo é de $20 por conta das taxas
          </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label"> Data da transferência</label>
          <input
            type="date"
            class="form-control"
            formControlName="transferDate"
            [ngClass]="{
              'is-invalid':
                submitted && scheduleForm.controls.transferDate.errors
            }"
            [min]="currentDate.toISOString().split('T')[0]"
          />
          <div
            *ngIf="submitted && scheduleForm.controls.transferDate.errors"
            class="text-danger"
          >
            <div
              *ngIf="
                submitted && scheduleForm.controls.transferDate.errors.required
              "
            >
              A data de transferência é obrigatória
            </div>
            <div
              *ngIf="scheduleForm.get('transferDate')?.hasError('invalidDate')"
            >
              A data de transferência não pode ser anterior à data atual.
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">
        Cadastrar agendamento
      </button>
    </div>
  </form>
</body>
